﻿
@{
    ViewBag.Title = "Welcome";
}

@if (Session["username"] != null)
{
    <h4>welcome @Session["username"].ToString()</h4>
}

else
{
    Response.Redirect("Index");
}


@section Scripts {
    @Scripts.Render("~/bundles/plugin")
}

<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function () {
        null;
    }
</script>
